html {
    font-size: 62.5%;
    background-color: rgb(173, 173, 173);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#basic-background {
    width: 60%;
    border: .1rem solid;
    padding: 0rem 3rem;
    background-color: rgb(241, 241, 241);
}

#no-bullets {
    list-style-type: none;
}

#underline {
    text-decoration: underline;
}

h1 {
    font-size: 5rem;
    text-decoration: underline;
}

body {
    font-size: 1.7rem;
}

#center {
    text-align: center;
    margin-bottom: 5rem;
}

.spacing li {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2.2rem;
   
}

img {
    max-height: 45rem;
    border: .3rem solid black;
    float: left;
    margin: 5rem;
}

.form {
    margin-top: 5rem;
}
 
.form-newsletter {
    margin: 2rem;
}

.middle-color {
    background-color: steelblue;
    color: rgb(226, 226, 226);
    width: 60%;
    border: .2rem solid black;
    margin-top: 5rem;
    margin-left: 3rem;
}

.middle-color h2 {
    padding-top: 1.5rem;
}
 
.submit {
    margin: 3rem;
    padding: 1rem 2rem;
    background: none;
    border: 0.3rem solid rgb(45, 45, 110);
    color: white;
    font-size: 2.4rem;
    border-radius: 1rem;
    background: rgb(45, 45, 110);
}